body {
    background-color: rgba(220, 220, 220, 0.548);
    max-width: auto;
}

/* header stylings*/

#background-plane-strip {
    background-color: rgb(103, 58, 183);
    height: 300px;
}

/* main stylings */

main {
    border-top: 10px solid rgb(174, 121, 255);
    background-color: white;
    width: 40%;
    height: auto;
    padding: 20px;
    box-shadow: 5px 5px 5px 2px gray;
    position: relative;
    top: -80px;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: bold;
}

input {
    border: none;
    text-decoration: underline;
    text-decoration-color: black;
}

hr {
    width: 120px;
    float: left;
    color: gray;
}

button {
    color: white;
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}

/* footer stylings */

footer {
    text-align: center;
}

small {
    color: rgba(128, 128, 128, 0.842);
}

a {
    color: rgba(128, 128, 128, 0.842);
    text-decoration: none;
}